
.navbar-default {
    background-color: #16ce00 ;
    border-color: #d615be ;
}
.navbar-default .navbar-brand {
    color: #000;
}

a {
    color: #002692;
    text-decoration: none;
}

/* logo */
.navbar-brand>img {
    display: block;
    margin-left: 70px;
    margin-top: -13px;
}

.btn-search{
    padding:8px 20px;
    font-size: 18px;
}
.btn-reset{
    padding:8px 20px;
    font-size: 18px;
}
.btn-add{
    padding:8px 20px;
    font-size:18px;
}
.btn-save-req{
    padding:8px 20px;
    font-size:18px;
}
.btn-reset-req{
    padding:8px 20px;
    font-size: 18px;
}
.btn-save-update{
    padding:8px 20px;
    font-size: 18px;  
}
.btn-reset-update{
    padding:8px 20px;
    font-size: 18px;     
}
.btn-select-all{
    padding:8px 20px;
    font-size: 18px;   
}
.form-control{
    font-size: 20px;
}

.red-text{
    color:red;
}

/* แก้ bug select2 */
.select2-container {
    width: 100% !important;
    padding: 0;
    }

/* font-table  */
.table {
    font-size: 20px;
}

/* fontinput-file  */
input[type=file] {
    font-size: 15px;
}

/* icont หลัง input */
.input-group-addon {
    font-size: 20px;
}

/* ลิงค์เมนู */
.dropdown-menu li a {
    font-size: 20px;
}

/*datepicker */
.datepicker{
    font-size: 20px;
}


